.td-help {
  width: 100%;
  height: 100%;
  overflow-y: auto;
}

.help-content {
  padding: var(--padding);
}

.help-section {
  margin-bottom: var(--padding-large);
}

.section-subtitle {
  font-size: var(--font-size-medium-rare);
  font-weight: 600;
  margin-bottom: var(--padding-medium);
  color: var(--text-color);
}

.section-text {
  font-size: var(--font-size-medium-rare);
  line-height: 1.6;
  color: var(--text-color);
  margin-bottom: var(--padding-medium);
}

.section-note {
  font-size: var(--font-size-small);
  color: var(--text-color);
  font-style: italic;
}
