.td-icon {
  width: 20px;
  height: 20px;
  background-color: currentColor;
  -webkit-mask-image: url("@/assets/Sprite.svg");
  -webkit-mask-repeat: no-repeat;
  mask-image: url("@/assets/Sprite.svg");
  mask-repeat: no-repeat;
  cursor: pointer;
}

.td-logo {
  width: 20px;
  height: 20px;
  background: url("@/assets/LogoApps.svg") no-repeat;
  background-size: 60px 60px;
  cursor: pointer;
}

.td-logo-tool-app {
  background-position: 0px 0px;
}
.td-logo-stories-app {
  background-position: -20px 0px;
}
.td-logo-graphics-app {
  background-position: -40px 0px;
}
.td-logo-stories-app {
  background-position: -20px 0px;
}
.td-logo-graphic-app {
  background-position: -40px 0px;
}

.td-close-icon {
  mask-position: -124px 0px;
}
.td-search-icon {
  mask-position: -100px 0px;
}
.td-plus-icon {
  mask-position: -148px 0px;
}

.td-copy-icon {
  mask-position: -166px 0px;
}

.td-json-icon {
  mask-position: -186px 0px;
}

.td-edit-icon {
  mask-position: -205px 0px;
}

.td-folder-icon {
  mask-position: -230px 0px;
}
.td-history-icon {
  mask-position: -255px 0px;
}
.td-setting-icon {
  mask-position: -280px 0px;
}
.td-reload-icon {
  mask-position: -307px 0px;
}

.td-github-icon {
  mask-position: -76px 0px;

  &:hover {
    transform: scale(1.1);
  }
}

.td-help-icon {
  mask-position: 0px -20px;
}

.td-camera-icon {
  mask-position: -26px -20px;
}

.td-exit-full-screen-icon {
  mask-position: -50px -20px;
}

.td-full-screen-icon {
  mask-position: -70px -20px;
}

.td-command-code-icon {
  mask-position: -92px -20px;
}

.td-connect-icon {
  mask-position: -120px -20px;
}

.td-disconnect-icon {
  mask-position: -145px -20px;
}

.td-pin-icon {
  mask-position: -170px -20px;
}

.td-unpin-icon {
  mask-position: -195px -20px;
}

.td-import-icon {
  mask-position: -225px -20px;
}

.td-export-icon {
  mask-position: -250px -20px;
}

.td-undo-icon {
  mask-position: -280px -20px;
}

.td-redo-icon {
  mask-position: -305px -20px;
}

.td-minus-icon {
  mask-position: -330px -20px;
}

.td-add-node-child-icon {
  mask-position: -385px -20px;
}

.td-add-node-icon {
  mask-position: -410px -20px;
}

.td-delete-node-icon {
  mask-position: -360px -20px;
}

.td-new-file-icon {
  mask-position: -0px -40px;
}

.td-node-expand-icon {
  mask-position: -25px -40px;
}
.td-node-collapse-icon {
  mask-position: -50px -40px;
}

.td-center-icon {
  mask-position: -75px -40px;
}

.td-node-merge-icon {
  mask-position: -95px -40px;
}

.td-send-icon {
  mask-position: -115px -40px;
}

.td-cancel-icon {
  mask-position: -135px -41px;
}

.td-download-icon {
  mask-position: -155px -41px;
}

.td-example-icon {
  mask-position: -181px -41px;
}

.td-save-icon {
  mask-position: -205px -40px;
}

.td-upload-icon {
  mask-position: -230px -40px;
}

.td-postman-icon {
  mask-position: -255px -40px;
}

.td-dupplicate-icon {
  mask-position: -280px -42px;
}

.td-database-icon {
  mask-position: -300px -40px;
}

.td-format-icon {
  mask-position: -320px -40px;
}

.td-test-icon {
  mask-position: -345px -40px;
}

.td-book-icon {
  mask-position: -370px -40px;
}

.td-random-icon {
  mask-position: -402px -42.5px;
}
