.td-icon {
  width: 20px;
  height: 20px;
  background: url("@/assets/Sprite.svg") no-repeat;
}
.td-close-icon {
  background-position: -124px 0px;
}
.td-search-icon {
  background-position: -100px 0px;
}
.td-plus-icon {
  background-position: -148px 0px;
}

.td-copy-icon {
  background-position: -166px 0px;
}

.td-json-icon {
  background-position: -186px 0px;
}

.td-edit-icon {
  background-position: -205px 0px;
}
