.td-icon-welcome {
  background-position: -362px 0px;
}
.td-icon-otp {
  background-position: -102px 0px;
}
.td-icon-compress {
  background-position: -128px 0px;
}
.td-icon-compare-code {
  background-position: -154px 0px;
}
.td-icon-color-picker {
  background-position: -180px 0px;
}
.td-icon-json-parser {
  background-position: -206px 0px;
}
.td-icon-postgresql {
  background-position: -232px 0px;
}
.td-icon-json-mapping {
  background-position: -258px 0px;
}
.td-icon-json-excel {
  background-position: -284px 0px;
}
.td-icon-base64-image {
  background-position: -310px 0px;
}
.td-icon-base64-to-image {
  background-position: -466px 0px;
}
.td-icon-qr {
  background-position: -336px 0px;
}
.td-icon-qr-to-text {
  background-position: -440px 0px;
}
.td-icon-download {
  background-position: -414px 0px;
}
.td-icon-uuid {
  background-position: -388px 0px;
}
