* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; /* Includes padding in the total width */
}

:root {
  --padding: 8px;
  --padding-medium: 4px;
  --padding-x-medium: 15px;
  --padding-large: 20px;
  --border-radius: 8px;
  --font-size-large: 20px;
  --font-size-medium: 16px;
  --text-color-light: rgba(60, 60, 60, 0.7);
  --text-color-dark: rgba(235, 235, 235, 0.6);
  --vt-font-family-base: "Inter var experimental", "Inter var", Inter,
    -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu,
    Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}
.flex-wrap {
  flex-wrap: wrap;
  column-gap: var(--padding);
  row-gap: var(--padding);
}

.flex-col {
  flex-direction: column;
}
.flex-row {
  flex-direction: row;
}

body[data-theme="light"] {
  --bg-main-color: #ffffff;
  --bg-sub-color: #efefef;
  --bg-active-color: rgb(202, 212, 203);
  --bg-focus-color: #f8f1f7;
  --bg-hover-color: unset;
  --text-primary-color: rgb(0, 0, 0);
  --text-secondary-color: rgb(33, 33, 33);
  --text-tertiary-color: rgb(44, 34, 34);
  --border-color: #a9a8a8;
  --focus-color: #33a16f;
  --btn-color: #42b883;
  --btn-secondary-color: #f1f1f1;
  --btn-secondary-text-color: #476582;
  --btn-secondary-focus-color: #e5e5e5;
}

body[data-theme="dark"] {
  --bg-main-color: rgb(10, 10, 10);
  --bg-sub-color: rgb(40, 40, 40);
  --bg-active-color: rgb(197, 188, 188);
  --bg-focus-color: #928990;
  --bg-hover-color: unset;
  --text-primary-color: rgb(255, 255, 255);
  --text-secondary-color: rgb(220, 220, 220);
  --text-tertiary-color: rgb(217, 217, 217);
  --border-color: #f0f0f0ab;
  --focus-color: #33a16f;
  --btn-color: #42b883;
  --btn-secondary-color: #2f2f2f;
  --btn-secondary-text-color: #aac8e4;
  --btn-secondary-focus-color: #3a3a3a;
}

body {
  --main-font: ui-monospace, "Fira Code", Menlo, Monaco, Consolas,
    "Liberation Mono", "Courier New", monospace;
}
a {
  color: inherit; /* blue colors for links too */
  text-decoration: inherit; /* no underline */
}
.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

/* Target the scrollbar track */
::-webkit-scrollbar {
  width: 15px; /* width of vertical scrollbar */
  height: 15px; /* height of horizontal scrollbar */
}

/* Track */
::-webkit-scrollbar-track {
  background: #f0f0f0;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
  border: 3px solid #f0f0f0; /* space around thumb */
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

::selection {
  color: white; /* Text color */
  background-color: var(--focus-color); /* Background color */
}

/* For Firefox support */
::-moz-selection {
  color: white;
  background-color: var(--focus-color);
}
.title {
  text-align: center;
  margin-bottom: 2rem;
  font-size: var(--font-size-large);
}
html,
body {
  font-family: var(--main-font);
  height: 100%;
  width: 100%;
  background-color: var(--bg-main-color);
  color: var(--text-primary-color);
}

html[data-theme="light"] {
  color-scheme: light;
}

html[data-theme="dark"] {
  color-scheme: dark;
}

#app {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  flex-direction: column;
}

.td-icon {
  width: 20px;
  height: 20px;
  background: url("../assets/Sprite.svg") no-repeat;
}
