* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; /* Includes padding in the total width */
}

:root {
  --padding: 8px;
  --padding-medium: 4px;
  --padding-x-medium: 15px;
  --padding-large: 20px;
  --border-radius: 8px;
  --font-size-large: 20px;
  --font-size-l-medium: 18px;
  --font-size-medium: 16px;
  --text-color-light: rgba(60, 60, 60, 0.7);
  --text-color-dark: rgba(235, 235, 235, 0.6);
  --vt-font-family-base:
    "Inter var experimental", "Inter var", Inter, -apple-system,
    BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell,
    "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  --box-shadow: 0 2px 2px rgba(92, 96, 93, 0.06);
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}
.flex-wrap {
  flex-wrap: wrap;
  column-gap: var(--padding);
  row-gap: var(--padding);
}
.flex-start {
  justify-content: flex-start;
}

.flex-col {
  flex-direction: column;
}
.flex-row {
  flex-direction: row;
}

body[data-theme="light"] {
  --bg-main-color: #ffffff;
  --bg-layer-color: #f3f4f6;
  --bg-active-color: rgb(202, 212, 203);
  --bg-focus-color: #f8f1f7;
  --bg-thirt-color: #f6f6f7;
  --bg-hover-color: unset;
  --text-color: #4b5563;
  --text-primary-color: rgb(0, 0, 0);
  --text-secondary-color: rgb(33, 33, 33);
  --text-tertiary-color: rgb(44, 34, 34);
  --border-color: #a9a8a8;
  --focus-color: #33a16f;
  --btn-color: #42b883;
  --btn-secondary-color: #f1f1f1;
  --btn-secondary-text-color: #476582;
  --btn-secondary-focus-color: #e5e5e5;
  --scroll-bg-color: #f0f0f0;
  --scroll-thumb-color: #888;
  --scroll-thumb-hover-color: #555;
}

body[data-theme="dark"] {
  --bg-main-color: rgb(46, 46, 46);
  --bg-layer-color: #3a3a3a;
  --text-color: #d1d1d1;
  --bg-active-color: rgb(197, 188, 188);
  --bg-focus-color: #928990;
  --bg-thirt-color: #161618;
  --bg-hover-color: unset;
  --text-primary-color: rgb(255, 255, 255);
  --text-secondary-color: rgb(220, 220, 220);
  --text-tertiary-color: rgb(217, 217, 217);
  --border-color: #f0f0f0ab;
  --focus-color: #33a16f;
  --btn-color: #42b883;
  --btn-secondary-color: #2f2f2f;
  --btn-secondary-text-color: #aac8e4;
  --btn-secondary-focus-color: #3a3a3a;
  --scroll-bg-color: #2c2c2c;
  --scroll-thumb-color: #9f9f9f;
  --scroll-thumb-hover-color: #d1d1d1;
}

body {
  --main-font:
    ui-monospace, "Fira Code", Menlo, Monaco, Consolas, "Liberation Mono",
    "Courier New", monospace;
}
a {
  color: inherit; /* blue colors for links too */
  text-decoration: inherit; /* no underline */
}
.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

/* Target the scrollbar track */
::-webkit-scrollbar {
  width: 12px; /* width of vertical scrollbar */
  height: 12px; /* height of horizontal scrollbar */
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--scroll-bg-color);
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--scroll-thumb-color);
  border-radius: 10px;
  border: 3px solid var(--scroll-bg-color); /* space around thumb */
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--scroll-thumb-hover-color);
}

::selection {
  color: white; /* Text color */
  background-color: var(--focus-color); /* Background color */
}

/* For Firefox support */
::-moz-selection {
  color: white;
  background-color: var(--focus-color);
}
.title {
  text-align: center;
  margin-bottom: var(--padding);
  font-size: var(--font-size-large);
}
html,
body {
  font-family: var(--main-font);
  height: 100%;
  width: 100%;
  background-color: var(--bg-main-color);
  color: var(--text-primary-color);
}

html[data-theme="light"] {
  color-scheme: light;
}

html[data-theme="dark"] {
  color-scheme: dark;
}

#app {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  flex-direction: column;
}

.td-icon {
  width: 20px;
  height: 20px;
  background: url("@/assets/Sprite.svg") no-repeat;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

.mb-medium {
  margin-bottom: var(--padding);
}
.mt-medium {
  margin-top: var(--padding);
}
.ml-medium {
  margin-left: var(--padding);
}
.mr-medium {
  margin-right: var(--padding);
}

.pb-medium {
  padding-bottom: var(--padding);
}
.pt-medium {
  padding-top: var(--padding);
}
.pl-medium {
  padding-left: var(--padding);
}
.pr-medium {
  padding-right: var(--padding);
}

.no-select {
  -webkit-user-select: none; /* Chrome, Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE/Edge cũ */
  user-select: none; /* Chuẩn */
}
.loader {
  width: 20px;
  aspect-ratio: 1;
  background: var(--btn-color);
  box-shadow: 0 0 60px 15px var(--btn-color);
  transform: translate(-80px);
  clip-path: inset(0);
  animation:
    l4-1 0.5s ease-in-out infinite alternate,
    l4-2 1s ease-in-out infinite;
}
@keyframes l4-1 {
  100% {
    transform: translateX(80px);
  }
}
@keyframes l4-2 {
  33% {
    clip-path: inset(0 0 0 -100px);
  }
  50% {
    clip-path: inset(0 0 0 0);
  }
  83% {
    clip-path: inset(0 -100px 0 0);
  }
}

.text-nowrap {
  white-space: nowrap; /* không xuống dòng */
  overflow: hidden; /* ẩn phần dư */
  text-overflow: ellipsis; /* hiện ... */
}
